<!DOCTYPE html>
<html lang="en">
<% include ../includes/head.ejs %>

    <body>

        <% include ../includes/header.ejs %>


            <main role="main">
                <div class="container">
                    <h2>Om Kulturhuset</h2>
                    <p>Vi er et nyt startet kulturhus som gerne vil vise os frem til personer som er interreseret i diverse
                        oplevelser!
                    </p>
                    <p>Hos os har vi
                        <ul>
                            <li>Filmforstillinger i vores forskellige biografsale</li>
                            <li>Teater i vores store teatersal</li>
                            <li>Koncerter med de største kunstnere</li>
                            <li>Foredrag med personer med noget på hjerte</li>
                        </ul>
                    </p>
                    <p>På hjemmesiden kan du læse mere om vores arrangementer og booke dine billetter.</p>
                    <p> Du kan også altid ringe til os på +45 12345678 eller kontakte os på Kontakt@kulturhuset.dk</p>


                </div>


                <!-- Bootstrap core JavaScript
        ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <% include ../includes/footer.ejs %>
    </body>


</html>