<%- include ./partials/dashboard_header %>

	<body>

		<form action="/updatetime" method="POST" encrypt="multipart/form-data"><input type="text" name="minute" id="minute" value=""><button
			 type="submit">Send</button></form>

	</body>
	<%- include ./partials/dashboard_footer %>